@tailwind base;
@tailwind components;
@tailwind utilities;
/* html {
  scroll-behavior: smooth;
} */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
body {
  background-color: #070807;
  color: rgb(var(--foreground-rgb));
}

@layer base {
  html {
      background-color: #070807;
      font-family: 'Alkatra', cursive;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@keyframes gradientFlow3 {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
.animate-gradient3{
  background-size: 200% 100%;
  background-image: linear-gradient(to right, #44BCFF, #FF44EC, #5de729, #44BCFF, #e6b834);
  animation: gradientFlow 15s infinite linear;
}
@keyframes infiniteSlide4 {
  from {
    background-position: 0% 50%;
  }
  to {
    background-position: -200% 50%; /* Moves twice the width to ensure smooth transition */
  }
}
.animate-gradient4 {
  background-size: 300% 100%; /* Makes the gradient three times wider than the element */
  background-image: linear-gradient(to right, #44BCFF, #FF44EC, #FF675E, #44BCFF, #FF44EC, #FF675E);
  animation: infiniteSlide 30s linear infinite;
}
@keyframes infiniteSlide {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: -100% 50%; /* Adjusted to move smoothly */
  }
}
.wrapper{
  visibility: hidden;
  display: flex;
}
.accordion-section{
  display: flex;
}
.cards-container{
  /* position: relative; */
  /* z-index: 1; */
  height: '200vh';
  /* display: flex; */
}
.card {
  /* position: absolute; */
  /* position: relative; */
  /* top: 0;  */
  /* Adjust as needed for your initial state */
  /* will-change: transform;  */
  /* Optimize animations */
  /* z-index: 2; */
  /* transform: translate(-50%, -50%); */
}
.section1 {
}
.wrapper1 {

}
.item1 {
  
}
.item2 {
  position: relative;
}
.item1 .header1 {

}
.item1 .header1 h1 {

}
.item1 .content1 {

}
.item1 .content1 p {

}
.slides-container{
  padding: 7px; 
  display: inline-block;
  width: fit-content;
  border-radius: 10px;
  background-color: rgb(55, 54, 54);
}
.section2{
  width: 20px; /* Adjust width as needed */
  height: 10px; /* Adjust height as needed */
  background-color: #cccfca;
  box-shadow: 0 0 8px rgba(204, 207, 202, 0.75);
  border-radius: 5px;
  margin-right: 15px;
  /* margin-bottom: 20px; */
  
}
.section2:last-child{
  margin-right: 0;
}
.sections-inner {
  display: flex;

}
.section {
  /* width: 100%; */
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}
.section1 {
  /* width: 100%; */
  display: flex;
  justify-content: center;
}

/* .spacer {
  background-color: teal;
} */

.wrapper {
  /* width: 100%; */
  /* padding: 50px 200px; */
  /* padding-bottom: 0; */
  visibility: hidden;
}

.item {
  /* width: 400px; */
  border-radius: 5px;
  overflow: hidden;
  /* margin-bottom: 10px; */
}

.item .header {
  background-color: rgb(34, 33, 33);
  /* padding: 10px; */
}

.item .header h1 {
  /* font-size: 24px; */
  /* margin: 0; */
}

.item .content {
  background-color: #121212;
  overflow: hidden;
}

.item .content p {
  /* margin: 0; */
  /* padding: 10px; */
  /* font-size: 18px; */
}

.animate-gradient {
  background-size: 200% 100%; /* Adjusted for a smoother transition */
  background-image: linear-gradient(to right, #44BCFF, #FF44EC, #e6b834, #5de729);
  animation: infiniteSlide 30s linear infinite;
}
.parallax-card {
  background: linear-gradient(145deg, #121212, #20e62e);
  border-radius: 0.5rem; 
  position: relative;
  overflow: hidden;
}
.parallax-card::before {
  content: '';
  position: absolute;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  background: repeating-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1) 1px,
    transparent 1px,
    transparent 4px
  );
  z-index: -2;
  transform: rotateZ(45deg);
}

.parallax-card::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(145deg, #121212, #20e62e);
  mix-blend-mode: screen;
  z-index: -1;
}

.circular-shader-canvas {
  border-radius: 0.5rem; /* This is the usual value for Tailwind's 'rounded-lg' */
  overflow: hidden; /* Ensure the corners remain rounded when the content overflows */
}

/* Glow effect based on viewport visibility */
.parallax-card.in-view {
  /* box-shadow: 0 0 15px #20e62e; */
}
.change{
  
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.white-filter {
  filter: invert(100%);
}
.three-d {
  color: #cccfca;
  text-shadow: 0 0 8px #cccfcabf;
}
.boxy{
  /* box-shadow: 5px 10px #121212; */
}
